<div class="row d-flex justify-content-center mt-5">
        <div class="col-lg-6 col-mb-12">
            <div class="card mt-4 border border-dark">
                <div class="card-header bg-black text-light text-center">
                        <a href="/compsci"><button type="button" class="btn btn-primary text-light"><h5 class="card-title text-center mb-3">Computer Science</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>Computer Science forums for new developments, hardware, and more</h5></div>
                </div>
            </div>
            <div class="card mt-4 border border-dark">
                <div class="card-header bg-black text-light text-center">
                        <a href="/softwaredev"><button type="button" class="btn btn-primary text-light"><h5 class="card-title text-center mb-3">Software Development</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>Software development forum for new programs, breakthrough technologies, and more</h5></div>
                </div>
            </div>
            <div class="card mt-4 border border-dark">
                <div class="card-header bg-black text-light text-center">
                        <a href="/webdev"><button type="button" class="btn btn-primary text-light"><h5 class="card-title text-center mb-3">Web Development</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>Web Development forums for ideas, new technologies, and more</h5></div>
                </div>
            </div>
        </div>
</div>